<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="container text-muted">
                    &copy; @DateTime.Now.Year - <a asp-area="" asp-controller="Home" asp-action="Index">Blog</a>
                </div>
        </div>
    </div>
</footer>