<nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"  id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand text-dark" asp-controller="Home" asp-action="Index">Blog</a>
        <button class="navbar-toggler text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarResponsive">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item"><a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link text-dark" href="#">About Me</a></li>                
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>